.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  header,
  footer {
    flex-grow: 0;
  }
  main {
    flex-grow: 1;
    position: relative;
  }
}
.filler {
  flex-grow: 1;
  position: relative;
  main + & {
    display: none;
  }
}