.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  header,
  footer {
    flex-grow: 0;
  }
  main {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    overflow: hidden;
  }
}
.filler {
  flex-grow: 1;
  position: relative;
  main + & {
    display: none;
  }
}

.h100 {
   height: 100%;
}

//   main {
//     flex-shrink: 1;
//     overflow: hidden;
//   //   flex-grow: 0;
//   }
// }