@import '../../../styles/variables.scss';

.standardBtn {
  width: 100px;
  padding: 5px;
  border-radius: 9px;
  border: none;
  background-color: $color-green;
  color: $color-white;
  font-size: $font-regular;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }
  
  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: $color-red;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }

  &:disabled:active  {
    transform: scale(1);
  }
}